In [1]:
import pandas as pd
import geopandas as gpd
import math
from shapely.geometry import Point

C:\Users\mmmiah\.conda\envs\geo_env\lib\site-packages\geopandas\_compat.py:112: UserWarning: The Shapely GEOS version (3.11.0-CAPI-1.17.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.3-CAPI-1.16.1). Conversions between both will be slow.
  warnings.warn(

In [2]:
# read_2019 eco_strava Matching data
d19=pd.read_excel('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/eco_strava_monthly_matching2019.xls')
d19.head()

,FID,id,serial_num,user_type,domain,site_name,lat,long,Region,edgeUID_,...,dist,edge_uid,activity_t,osm_refere,month,stv_total,stv_com_to,stv_rec_to,stv_com_ra,stv_rec_ra
0,0,100000671,X0412011792,['bicycle' 'pedestrian'],University of California Berkeley - AT Census,BART AT SPIRE,37.79116,-122.45944,Bay Area,308723101,...,d4,308723101,"Ride,EBikeRide",215845474,2019-08,390,15,375,0.038462,0.961538
1,1,100000671,X0412011792,['bicycle' 'pedestrian'],University of California Berkeley - AT Census,BART AT SPIRE,37.79116,-122.45944,Bay Area,308723101,...,d4,308723101,"Ride,EBikeRide",215845474,2019-04,550,35,515,0.063636,0.936364
2,2,100000671,X0412011792,['bicycle' 'pedestrian'],University of California Berkeley - AT Census,BART AT SPIRE,37.79116,-122.45944,Bay Area,308723101,...,d4,308723101,"Ride,EBikeRide",215845474,2019-10,360,25,335,0.069444,0.930556
3,3,100000671,X0412011792,['bicycle' 'pedestrian'],University of California Berkeley - AT Census,BART AT SPIRE,37.79116,-122.45944,Bay Area,308723101,...,d4,308723101,"Ride,EBikeRide",215845474,2019-03,390,15,375,0.038462,0.961538
4,4,100000671,X0412011792,['bicycle' 'pedestrian'],University of California Berkeley - AT Census,BART AT SPIRE,37.79116,-122.45944,Bay Area,308723101,...,d4,308723101,"Ride,EBikeRide",215845474,2019-07,495,45,450,0.090909,0.909091

In [3]:
d19.columns

Index(['FID', 'id', 'serial_num', 'user_type', 'domain', 'site_name', 'lat',
       'long', 'Region', 'edgeUID_', 'osmId', 'dist', 'edge_uid', 'activity_t',
       'osm_refere', 'month', 'stv_total', 'stv_com_to', 'stv_rec_to',
       'stv_com_ra', 'stv_rec_ra'],
      dtype='object')

In [4]:
d191=d19[['id','lat','long','Region', 'edgeUID_', 'osmId', 'dist', 'edge_uid','osm_refere']]
d191.head()

,id,lat,long,Region,edgeUID_,osmId,dist,edge_uid,osm_refere
0,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474
1,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474
2,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474
3,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474
4,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474

In [5]:
d191.shape

(3372, 9)

In [6]:
d192=d191.drop_duplicates(subset=['id','lat','long','Region', 'edgeUID_', 'osmId', 'dist', 'edge_uid','osm_refere'],keep='first')
d192.shape

(298, 9)

In [7]:
# read 2018 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D1/bbf0dc727073607aa6619872a768f6b85167c101865e57ca8d03bedd6426c464-1668405296596.csv')
d2d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_d2/8678d4f210a4d4f0d8754ecc5ee0fb795734b82988dfcd27fc3c46ddf7ee8f2e-1668122685688.csv')
d3d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_d3/23b6bfde971cd0229e5070e3faea470202ba644f5a1c32cb309f7a5a248b09c4-1668122727426.csv')
d4d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D4/2b811f2139ebc5496413ff9e04054ead998f108ac69cd9373ad1bd6c14a4d9c3-1668174840639.csv')
d5d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D5/07c87801db1ab623da26b3a22d420dc4f367fb0d1cab850ff49791eee0305139-1668174873077.csv')
d6d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D6/c0ab3f90ebfa11565b1d5cecb8aad1d9a14a2d52c3bb6e13e096f3c012383aa9-1668174919907.csv')
d7d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D7/39051a67efda00f695bff03696ffb25a1d167fba61f1ec2e5d1499d3cf9c3d63-1668220349932.csv')
d8d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D8/feeccaa25657b7eeb154f2745640a616f350b8bbe1f366259824bc364d24825c-1668220381339.csv')
d9d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D9/5306479ac56512004ed0bd538fc67fbfc9a78d954d54cdbda99e91e63d793783-1668220408095.csv')
d10d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D10/e4244bfb3a7f1b77b98c738546fdd776071a2e9810c8ff2db27392a4ab9a012a-1668263407801.csv')
d11d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D11/b8f5494f053e1ec2471c2a51c473a35eb0a696814bd94f20c02a3aef77b82657-1668263433097.csv')
d12d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D12/5deed50debb06d988945a1f758748c1392848ba2c3c494ea8b59643f899f7368-1668263460163.csv')
CA_Strava_data18=pd.concat([d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data18.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count
0,313481877,"Ride,EBikeRide",2018-08,10,10,0,5,0,0,0,...,0,0,0,0,0,5.57,0.00,10586892,10,0
1,313481877,"Ride,EBikeRide",2018-12,25,10,15,5,10,0,0,...,5,0,0,0,0,5.95,3.58,10586892,25,0
2,313481877,"Ride,EBikeRide",2018-01,15,10,5,5,5,0,0,...,5,0,0,0,0,7.85,3.40,10586892,15,0
3,313481877,"Ride,EBikeRide",2018-11,5,5,5,5,5,0,0,...,0,0,0,0,0,5.72,2.83,10586892,5,0
4,313481877,"Ride,EBikeRide",2018-04,20,10,10,5,5,0,0,...,0,0,0,0,0,5.57,3.25,10586892,20,0

In [8]:
eco_stv18=pd.merge(d192,CA_Strava_data18,left_on=['edge_uid','osm_refere'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv18.shape

(3284, 47)

In [9]:
eco_stv18['stv_total']=eco_stv18['forward_trip_count']+eco_stv18['reverse_trip_count']
eco_stv18['stv_com_total']=eco_stv18['forward_commute_trip_count']+eco_stv18['reverse_commute_trip_count']
eco_stv18['stv_rec_total']=eco_stv18['forward_leisure_trip_count']+eco_stv18['reverse_leisure_trip_count']
eco_stv18['stv_com_ratio']=eco_stv18['stv_com_total']/eco_stv18['stv_total']
eco_stv18['stv_rec_ratio']=eco_stv18['stv_rec_total']/eco_stv18['stv_total']
eco_stv18.head()

,id,lat,long,Region,edgeUID_,osmId,dist,edge_uid,osm_refere,activity_type,...,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.46,6.45,215845474,410,10,420,20,400,0.047619,0.952381
1,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.37,6.40,215845474,385,0,385,10,375,0.025974,0.974026
2,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.38,6.62,215845474,395,0,395,25,370,0.063291,0.936709
3,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.40,6.24,215845474,260,5,270,15,255,0.055556,0.944444
4,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.55,6.94,215845474,425,5,430,30,400,0.069767,0.930233

In [10]:
eco_stv18.to_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/eco_strava_monthly_matching2018.csv')

In [11]:
# read 2020 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D1/a9c30ae0023c0f9eb29708df1a582b91eca0d416df32cd382cf4d14bcdeca488-1667422342632.csv')
d2d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D2/c411e601a37e4dc367269a9dc13b20dfae6d15053ba794b5f93fc2af527d2f4f-1667422366206.csv')
d3d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D3/64e293d205da8892b392e4977c8d90624bd6074490b70f76a604521e93f27d2b-1667422391700.csv')
d4d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D4/d06677d3cff3d7e3c79b7cfadc78acd7b5cddd07bf8ea381dbd8588089e38c09-1667495983102.csv')
d5d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D5/9b085fb1ee53e9f04913436686f197267796acd33e1456772045999f28b9c528-1667496005469.csv')
d6d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D6/1a8900583a97e145fadfd8ad53f2e97de9b5b187ca77c4598049a0fb01e0cf98-1667496029915.csv')
d7d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D7/d4c69ae94ab87eb471db1b2fbcaa6a83d99d337792756184cbef9cfa8775327b-1667616590974.csv')
d8d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D8/af16dd1a6e52b3f0ad8b8a86b6a04e6d36f7f89a7d5d282b09ce0e4a22704e16-1668407725240.csv')
d9d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D9/86845546a1e446fb3e69f625e8c00e66a144185491c485a3cc639436d25a7eee-1668407750665.csv')
d10d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D10/257ea8e6ebe01ede029b18e0e399330f491ff37383b48318acc40bb5b7ceb1b2-1667670751533.csv')
d11d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D11/e046cd2ce77edcaa6acd930bb6b092dd926ee88d4d60576c3cdf6d55c1199869-1667670780922.csv')
d12d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D12/96493164682566650fde23ecaba66157f823a7a018b774ee3894ac9074799ea7-1667670809297.csv')
CA_Strava_data20=pd.concat([d1d, d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data20.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count
0,307076983,"Ride,EBikeRide",2020-05,5,5,0,5,0,0,0,...,0,0,0,0,0,0.21,0.00,10307497,5,0
1,307076983,"Ride,EBikeRide",2020-04,5,5,0,5,0,0,0,...,0,0,0,0,0,3.57,0.00,10307497,5,0
2,307076983,"Ride,EBikeRide",2020-10,5,5,0,5,0,0,0,...,0,0,0,0,0,1.17,0.00,10307497,5,0
3,307076983,"Ride,EBikeRide",2020-08,5,0,5,0,5,0,0,...,0,0,0,0,0,0.00,8.31,10307497,5,0
4,307076983,"Ride,EBikeRide",2020-06,5,5,0,5,0,0,0,...,0,0,0,0,0,4.13,0.00,10307497,5,0

In [12]:
eco_stv20=pd.merge(d192,CA_Strava_data20,left_on=['edge_uid','osm_refere'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv20.shape

(3389, 47)

In [13]:
eco_stv20['stv_total']=eco_stv20['forward_trip_count']+eco_stv20['reverse_trip_count']
eco_stv20['stv_com_total']=eco_stv20['forward_commute_trip_count']+eco_stv20['reverse_commute_trip_count']
eco_stv20['stv_rec_total']=eco_stv20['forward_leisure_trip_count']+eco_stv20['reverse_leisure_trip_count']
eco_stv20['stv_com_ratio']=eco_stv20['stv_com_total']/eco_stv20['stv_total']
eco_stv20['stv_rec_ratio']=eco_stv20['stv_rec_total']/eco_stv20['stv_total']
eco_stv20.head()

,id,lat,long,Region,edgeUID_,osmId,dist,edge_uid,osm_refere,activity_type,...,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.20,4.97,215845474,1065,5,1070,25,1045,0.023364,0.976636
1,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.50,6.51,215845474,515,0,515,25,490,0.048544,0.951456
2,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.03,5.35,215845474,885,5,890,15,875,0.016854,0.983146
3,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.96,3.63,215845474,30,0,30,0,30,0.000000,1.000000
4,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.19,7.00,215845474,35,0,35,0,35,0.000000,1.000000

In [14]:
eco_stv20.to_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/eco_strava_monthly_matching2020.csv')

In [15]:
# read 2021 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D1/e9592a7cd0d3959886329822c1cb8f32f3bd64a2614c5cf27168cdc9964b166b-1667790658595.csv')
d2d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D2/176aa3e12ec572049bcf91208b9da04274b188930f0f14be08b852867468859b-1667790710995.csv')
d3d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D3/bd229c3c9b6bd9207c58fc8c29fd4d1d310a398f3244de06de0193e86c6db22e-1667790745298.csv')
d4d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D4/e9d5a2bcfa9dbbe36718f0d7159727c0ec61b7072b9d327639d00141b2766090-1667807130507.csv')
d5d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D5/8d85c8c5c9f0c06826bc7d8978d1a91931b0e0bdc0f77a33f9fb835309f0b226-1667841216766.csv')
d6d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D6/eebe89b3eeffe28f92e68f7dbf3bdcf05bc3dae974a3b9276a7e7b0df9eae882-1667841269080.csv')
d7d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D7/cd65a5b0453949864b37e082d92605e2eb6b6f84684d183431fd68bb2cf476dc-1667841291957.csv')
d8d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D8/4d63f8e250a574f69abd3983167c7389aac406f09cb4215eb5524fa610fac7ff-1667968364875.csv')
d9d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D9/5aafe9c4165073dd735166fe42906acad2b938b6de069e9520febed0e739fcc2-1667968386918.csv')
d10d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D10/efa0fe8300490ac376b0892c105245cc7b1207af794a8279dc6d40cc6b7bba5b-1667968419027.csv')
d11d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D11/6d938fd4c1c0a65a5fa67c400528513960c16ba433179ef146296107702df3a8-1668030163539.csv')
d12d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D12/b612919494462c73410d8a38692fa46c4d3c3d3a5f9225d6615189c8cf14d28d-1668030207898.csv')
CA_Strava_data21=pd.concat([d1d, d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data21.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count
0,307090118,"Ride,EBikeRide",2021-09,70,35,35,25,30,0,0,...,10,5,5,5,5,5.59,6.71,10272439,65,5
1,307090118,"Ride,EBikeRide",2021-06,50,15,35,10,25,0,0,...,10,0,5,0,5,6.34,6.96,10272439,50,0
2,307090118,"Ride,EBikeRide",2021-12,10,5,0,5,0,0,0,...,0,0,0,0,0,7.73,0.00,10272439,5,5
3,307090118,"Ride,EBikeRide",2021-11,30,15,15,5,10,0,0,...,0,0,0,5,0,5.91,5.48,10272439,25,5
4,307090118,"Ride,EBikeRide",2021-02,25,10,15,5,10,0,0,...,5,0,0,0,0,5.07,5.77,10272439,25,0

In [16]:
eco_stv21=pd.merge(d192,CA_Strava_data21,left_on=['edge_uid','osm_refere'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv21.shape

(3382, 47)

In [17]:
eco_stv21['stv_total']=eco_stv21['forward_trip_count']+eco_stv21['reverse_trip_count']
eco_stv21['stv_com_total']=eco_stv21['forward_commute_trip_count']+eco_stv21['reverse_commute_trip_count']
eco_stv21['stv_rec_total']=eco_stv21['forward_leisure_trip_count']+eco_stv21['reverse_leisure_trip_count']
eco_stv21['stv_com_ratio']=eco_stv21['stv_com_total']/eco_stv21['stv_total']
eco_stv21['stv_rec_ratio']=eco_stv21['stv_rec_total']/eco_stv21['stv_total']
eco_stv21.head()

,id,lat,long,Region,edgeUID_,osmId,dist,edge_uid,osm_refere,activity_type,...,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.39,1.89,215845474,565,5,570,30,540,0.052632,0.947368
1,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.33,3.71,215845474,595,0,595,15,580,0.025210,0.974790
2,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.17,2.61,215845474,355,0,360,20,340,0.055556,0.944444
3,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,3.21,5.87,215845474,435,5,435,20,415,0.045977,0.954023
4,100000671,37.79116,-122.45944,Bay Area,308723101,215845474,d4,308723101,215845474,"Ride,EBikeRide",...,1.55,1.14,215845474,395,0,395,10,385,0.025316,0.974684

In [18]:
print(eco_stv18['id'].nunique())
print(d19['id'].nunique())
print(eco_stv20['id'].nunique())
print(eco_stv21['id'].nunique())

282
298
287
286

In [19]:
eco_stv21.to_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/eco_strava_monthly_matching2021.csv')

# combine all year Strava volume and calculate the market penetration

In [20]:
mp19=d19[['id','lat','long','osmId','edge_uid','stv_total','stv_rec_to','stv_com_to']]
mp19=mp19.rename(columns={'stv_total':'stv19'})
mp19=mp19.rename(columns={'stv_rec_to':'stv_rec19'})
mp19=mp19.rename(columns={'stv_com_to':'stv_com19'})
#mp19['average19stv']=mp19['stv_total'].mean()
#mp19['average19stv_rec']=mp19['stv_rec_to'].mean()
#mp19['average19stv_com']=mp19['stv_com_to'].mean()
mp19=mp19.drop_duplicates(subset=['id'],keep='first')
#mp19=mp19[['id','lat','long','osmId','edge_uid','average19stv','average19stv_rec','average19stv_com']]
mp19.head()

,id,lat,long,osmId,edge_uid,stv19,stv_rec19,stv_com19
0,100000671,37.791160,-122.459440,215845474,308723101,390,375,15
12,100001127,37.796165,-122.419490,87297166,308779961,35,25,15
24,100044181,37.796170,-122.419490,87297166,308779961,35,25,15
36,100002415,37.774200,-122.436295,907910631,308725144,3370,1890,1480
48,100044161,37.774200,-122.436295,907910631,308725144,3370,1890,1480

In [21]:
mp18=eco_stv18[['id','lat','long','osmId','edge_uid','stv_total','stv_rec_total','stv_com_total']]
mp18=mp18.rename(columns={'stv_total':'stv18'})
mp18=mp18.rename(columns={'stv_rec_total':'stv_rec18'})
mp18=mp18.rename(columns={'stv_com_total':'stv_com18'})
mp18=mp18.drop_duplicates(subset=['id'],keep='first')
#mp18=mp18[['id','lat','long','osmId','edge_uid','average18stv','average18stv_rec','average18stv_com']]
mp18.head()

,id,lat,long,osmId,edge_uid,stv18,stv_rec18,stv_com18
0,100000671,37.791160,-122.459440,215845474,308723101,420,400,20
12,100001127,37.796165,-122.419490,87297166,308779961,40,20,20
24,100044181,37.796170,-122.419490,87297166,308779961,40,20,20
36,100002415,37.774200,-122.436295,907910631,308725144,2755,1510,1245
48,100044161,37.774200,-122.436295,907910631,308725144,2755,1510,1245

In [22]:
mp20=eco_stv20[['id','lat','long','osmId','edge_uid','stv_total','stv_rec_total','stv_com_total']]
mp20=mp20.rename(columns={'stv_total':'stv20'})
mp20=mp20.rename(columns={'stv_rec_total':'stv_rec20'})
mp20=mp20.rename(columns={'stv_com_total':'stv_com20'})
mp20=mp20.drop_duplicates(subset=['id'],keep='first')
mp20.head()

,id,lat,long,osmId,edge_uid,stv20,stv_rec20,stv_com20
0,100000671,37.791160,-122.459440,215845474,308723101,1070,1045,25
12,100001127,37.796165,-122.419490,87297166,308779961,55,45,10
24,100044181,37.796170,-122.419490,87297166,308779961,55,45,10
36,100002415,37.774200,-122.436295,907910631,308725144,5880,5440,440
48,100044161,37.774200,-122.436295,907910631,308725144,5880,5440,440

In [23]:
mp21=eco_stv21[['id','lat','long','osmId','edge_uid','stv_total','stv_rec_total','stv_com_total']]
mp21=mp21.rename(columns={'stv_total':'stv21'})
mp21=mp21.rename(columns={'stv_rec_total':'stv_rec21'})
mp21=mp21.rename(columns={'stv_com_total':'stv_com21'})
mp21=mp21.drop_duplicates(subset=['id'],keep='first')
mp21.head()

,id,lat,long,osmId,edge_uid,stv21,stv_rec21,stv_com21
0,100000671,37.791160,-122.459440,215845474,308723101,570,540,30
12,100001127,37.796165,-122.419490,87297166,308779961,100,80,20
24,100044181,37.796170,-122.419490,87297166,308779961,100,80,20
36,100002415,37.774200,-122.436295,907910631,308725144,3075,2555,520
48,100044161,37.774200,-122.436295,907910631,308725144,3075,2555,520

In [24]:
mp1819=pd.merge(mp18,mp19, left_on=['id','lat','long','osmId','edge_uid'],right_on=['id','lat','long','osmId','edge_uid'],how='inner')
mp181920=pd.merge(mp1819,mp20, left_on=['id','lat','long','osmId','edge_uid'],right_on=['id','lat','long','osmId','edge_uid'],how='inner')
mp18192021=pd.merge(mp181920,mp21, left_on=['id','lat','long','osmId','edge_uid'],right_on=['id','lat','long','osmId','edge_uid'],how='inner')
mp18192021.head()

,id,lat,long,osmId,edge_uid,stv18,stv_rec18,stv_com18,stv19,stv_rec19,stv_com19,stv20,stv_rec20,stv_com20,stv21,stv_rec21,stv_com21
0,100000671,37.791160,-122.459440,215845474,308723101,420,400,20,390,375,15,1070,1045,25,570,540,30
1,100001127,37.796165,-122.419490,87297166,308779961,40,20,20,35,25,15,55,45,10,100,80,20
2,100044181,37.796170,-122.419490,87297166,308779961,40,20,20,35,25,15,55,45,10,100,80,20
3,100002415,37.774200,-122.436295,907910631,308725144,2755,1510,1245,3370,1890,1480,5880,5440,440,3075,2555,520
4,100044161,37.774200,-122.436295,907910631,308725144,2755,1510,1245,3370,1890,1480,5880,5440,440,3075,2555,520

In [25]:
mp18192021['stv18_ave']=mp18192021['stv18'].mean()
mp18192021['stv19_ave']=mp18192021['stv19'].mean()
mp18192021['stv20_ave']=mp18192021['stv20'].mean()
mp18192021['stv21_ave']=mp18192021['stv21'].mean()
mp18192021.head()

,id,lat,long,osmId,edge_uid,stv18,stv_rec18,stv_com18,stv19,stv_rec19,...,stv20,stv_rec20,stv_com20,stv21,stv_rec21,stv_com21,stv18_ave,stv19_ave,stv20_ave,stv21_ave
0,100000671,37.791160,-122.459440,215845474,308723101,420,400,20,390,375,...,1070,1045,25,570,540,30,1315.462633,1478.825623,2342.72242,1629.074733
1,100001127,37.796165,-122.419490,87297166,308779961,40,20,20,35,25,...,55,45,10,100,80,20,1315.462633,1478.825623,2342.72242,1629.074733
2,100044181,37.796170,-122.419490,87297166,308779961,40,20,20,35,25,...,55,45,10,100,80,20,1315.462633,1478.825623,2342.72242,1629.074733
3,100002415,37.774200,-122.436295,907910631,308725144,2755,1510,1245,3370,1890,...,5880,5440,440,3075,2555,520,1315.462633,1478.825623,2342.72242,1629.074733
4,100044161,37.774200,-122.436295,907910631,308725144,2755,1510,1245,3370,1890,...,5880,5440,440,3075,2555,520,1315.462633,1478.825623,2342.72242,1629.074733

In [26]:
mp18192021['stv_com18_ave']=mp18192021['stv_com18'].mean()
mp18192021['stv_com19_ave']=mp18192021['stv_com19'].mean()
mp18192021['stv_com20_ave']=mp18192021['stv_com20'].mean()
mp18192021['stv_com21_ave']=mp18192021['stv_com21'].mean()

In [27]:
mp18192021['stv_rec18_ave']=mp18192021['stv_rec18'].mean()
mp18192021['stv_rec19_ave']=mp18192021['stv_rec19'].mean()
mp18192021['stv_rec20_ave']=mp18192021['stv_rec20'].mean()
mp18192021['stv_rec21_ave']=mp18192021['stv_rec21'].mean()
mp18192021.head()

,id,lat,long,osmId,edge_uid,stv18,stv_rec18,stv_com18,stv19,stv_rec19,...,stv20_ave,stv21_ave,stv_com18_ave,stv_com19_ave,stv_com20_ave,stv_com21_ave,stv_rec18_ave,stv_rec19_ave,stv_rec20_ave,stv_rec21_ave
0,100000671,37.791160,-122.459440,215845474,308723101,420,400,20,390,375,...,2342.72242,1629.074733,308.718861,326.814947,113.718861,156.637011,1006.779359,1152.046263,2229.021352,1472.455516
1,100001127,37.796165,-122.419490,87297166,308779961,40,20,20,35,25,...,2342.72242,1629.074733,308.718861,326.814947,113.718861,156.637011,1006.779359,1152.046263,2229.021352,1472.455516
2,100044181,37.796170,-122.419490,87297166,308779961,40,20,20,35,25,...,2342.72242,1629.074733,308.718861,326.814947,113.718861,156.637011,1006.779359,1152.046263,2229.021352,1472.455516
3,100002415,37.774200,-122.436295,907910631,308725144,2755,1510,1245,3370,1890,...,2342.72242,1629.074733,308.718861,326.814947,113.718861,156.637011,1006.779359,1152.046263,2229.021352,1472.455516
4,100044161,37.774200,-122.436295,907910631,308725144,2755,1510,1245,3370,1890,...,2342.72242,1629.074733,308.718861,326.814947,113.718861,156.637011,1006.779359,1152.046263,2229.021352,1472.455516

In [28]:
mp18192021.shape

(281, 29)

In [29]:
mp18192021['mp19stv']=((mp18192021['stv19']-mp18192021['stv18'])/mp18192021['stv18'])*100
mp18192021['mp19stv_com']=((mp18192021['stv_com19']-mp18192021['stv_com18'])/mp18192021['stv_com18'])*100
mp18192021['mp19stv_rec']=((mp18192021['stv_rec19']-mp18192021['stv_rec18'])/mp18192021['stv_rec18'])*100

In [30]:
mp18192021['mp20stv']=((mp18192021['stv20']-mp18192021['stv19'])/mp18192021['stv19'])*100
mp18192021['mp20stv_com']=((mp18192021['stv_com20']-mp18192021['stv_com19'])/mp18192021['stv_com19'])*100
mp18192021['mp20stv_rec']=((mp18192021['stv_rec20']-mp18192021['stv_rec19'])/mp18192021['stv_rec19'])*100

In [31]:
mp18192021['mp21stv']=((mp18192021['stv21']-mp18192021['stv20'])/mp18192021['stv20'])*100
mp18192021['mp21stv_com']=((mp18192021['stv_com21']-mp18192021['stv_com20'])/mp18192021['stv_com20'])*100
mp18192021['mp21stv_rec']=((mp18192021['stv_rec21']-mp18192021['stv_rec20'])/mp18192021['stv_rec20'])*100

In [32]:
mp18192021.to_csv('H:/Desktop/AT Census/Strava Count/Strava_market_penetration.csv')